body {
  @apply bg-white dark:!bg-white;
}

.register-btn {
  @apply shadow-md text-white dark:text-white lg:hover:text-gray-100 lg:dark:hover:text-gray-100
  bg-gradient-to-b from-sky-400 via-sky-500 to-sky-600 
  dark:bg-gradient-to-b dark:from-sky-400 dark:via-sky-500 dark:to-sky-600
  lg:hover:bg-gradient-to-b lg:hover:from-sky-600 lg:hover:via-sky-500 lg:hover:to-sky-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-sky-600 lg:dark:hover:via-sky-500 lg:dark:hover:to-sky-400;
}

.login-btn {
  @apply shadow-md text-white dark:text-white lg:hover:text-gray-100 lg:dark:hover:text-gray-100
  bg-gradient-to-b from-orange-400 via-orange-500 to-orange-600 
  dark:bg-gradient-to-b dark:from-orange-400 dark:via-orange-500 dark:to-orange-600
  lg:hover:bg-gradient-to-b lg:hover:from-orange-600 lg:hover:via-orange-500 lg:hover:to-orange-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-orange-600 lg:dark:hover:via-orange-500 lg:dark:hover:to-orange-400;
}

.green-gradient {
  @apply bg-gradient-to-b from-green-400 via-green-500 to-green-600 
  dark:bg-gradient-to-b dark:from-green-400 dark:via-green-500 dark:to-green-600
  lg:hover:bg-gradient-to-b lg:hover:from-green-600 lg:hover:via-green-500 lg:hover:to-green-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-green-600 lg:dark:hover:via-green-500 lg:dark:hover:to-green-400;
}

.sky-gradient {
  @apply bg-gradient-to-b from-sky-200 via-sky-300 to-sky-400 
  dark:bg-gradient-to-b dark:from-sky-400 dark:via-sky-500 dark:to-sky-600
  lg:hover:bg-gradient-to-b lg:hover:from-sky-300 lg:hover:via-sky-400 lg:hover:to-sky-500
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-sky-600 lg:dark:hover:via-sky-500 lg:dark:hover:to-sky-400;
}

.amber-gradient {
  @apply bg-gradient-to-b from-amber-400 via-amber-500 to-amber-600 
  dark:bg-gradient-to-b dark:from-amber-400 dark:via-amber-500 dark:to-amber-600
  lg:hover:bg-gradient-to-b lg:hover:from-amber-600 lg:hover:via-amber-500 lg:hover:to-amber-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-amber-600 lg:dark:hover:via-amber-500 lg:dark:hover:to-amber-400;
}

.purple-gradient {
  @apply bg-gradient-to-b from-purple-400 via-purple-500 to-purple-600 
  dark:bg-gradient-to-b dark:from-purple-400 dark:via-purple-500 dark:to-purple-600
  lg:hover:bg-gradient-to-b lg:hover:from-purple-600 lg:hover:via-purple-500 lg:hover:to-purple-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-purple-600 lg:dark:hover:via-purple-500 lg:dark:hover:to-purple-400;
}

.rose-gradient {
  @apply bg-gradient-to-b from-rose-400 via-rose-500 to-rose-600 
  dark:bg-gradient-to-b dark:from-rose-400 dark:via-rose-500 dark:to-rose-600
  lg:hover:bg-gradient-to-b lg:hover:from-rose-600 lg:hover:via-rose-500 lg:hover:to-rose-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-rose-600 lg:dark:hover:via-rose-500 lg:dark:hover:to-rose-400;
}

.gray-gradient {
  @apply bg-gradient-to-b from-gray-100 via-gray-200 to-gray-300 
  dark:bg-gradient-to-b dark:from-gray-600 dark:via-gray-600 dark:to-gray-700
  lg:hover:bg-gradient-to-b lg:hover:from-gray-100 lg:hover:via-gray-300 lg:hover:to-gray-400
  lg:dark:hover:bg-gradient-to-b lg:dark:hover:from-gray-700 lg:dark:hover:via-gray-700 lg:dark:hover:to-gray-800;
}

.tab-active-amber {
  @apply bg-gradient-to-b from-amber-400 via-amber-500 to-amber-600;
}

.tab-active-sky {
  @apply bg-gradient-to-b from-sky-400 via-sky-500 to-sky-600;
}

.tab-active-rose {
  @apply bg-gradient-to-b from-rose-400 via-rose-500 to-rose-600;
}

.tab-active-red {
  @apply bg-gradient-to-b from-red-400 via-red-500 to-red-600;
}

.tab-active-orange {
  @apply bg-gradient-to-b from-orange-400 via-orange-500 to-orange-600;
}

.tab-active-green {
  @apply bg-gradient-to-b from-green-400 via-green-500 to-green-600;
}